# Environments
venv

# Cache
__pycache__/
.ipynb_checkpoints/
.DS_Store

# Data
book_chapters
data
.env
logs
src/logs
Book
src/model_weights/model_and_optimizer.pth
src/model_weights/gpt2
model_and_optimizer.pth
